body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-size: auto;
  display: flex;
  justify-content: end;
  height: 100vh;
  overflow-x: hidden;
}

.menu-board {
  width: 100%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 6%;
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.three-column {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.category {
  overflow: hidden;
  margin-bottom: 20px;
  width: 90%;
}

.category h2 {
  color: #FFC107;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-size: 46px;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 12px;
  font-weight: 600;
}

.item {
  display: flex;
  justify-content: space-between;
  color: #F5F5F5;
  padding: 0 12px;
  font-size: 32px;
  margin-bottom: 4px
}

.item:nth-child(2) {
  padding-top: 5px;
}

.item:last-child {
  padding-bottom: 5px;
  border-bottom: none;
}

.price {
}

.img-section {
  width: 0;
  height: 0;
  overflow: hidden;
}

.img-section img {
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.content-background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;

  background: linear-gradient(to top, black 60%, rgba(255, 248, 240, 0) 100%);
}

.carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.sate-menu-image {
  position: absolute;
  left: 60%;
  top: 63%;

  img {
    width: 62%;
  }
}

.broodje-kroket-image {
  position: absolute;
  left: 64%;
  top: 68%;

  img {
    width: 75%;
  }
}

.broodje-frikandel-image {
  position: absolute;
  left: 62%;
  top: 70%;

  img {
    width: 75%;
  }
}


